<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
      </button>
      <%= link_to root_path, class: "navbar-brand page-scroll" do %>
          <i class="fa fa-terminal"></i>  <span class="light">THEREALECHAN</span>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from whoami link when scrolled up past whoami section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <%= link_to 'Gear', gear_path, class: "page-scroll" %>
        </li>
        <li>
          <a class="page-scroll" href="/blog">Blog</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
