<%= render "shared/navbar" %>
<section id="gear" class="text-center">
  <h1 class="gear-image">Gear</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Sony A7 Mark II</p>
        <p>Sony RX100 Mark III</p>
        <p>Zeiss Loxia 35mm f/2 Lens</p>
        <p>Sony Sonnar T* FE 55mm f/1.8 Lens</p>
        <p>Manfrotto Compact Advanced-BH Tripod</p>
      </div>
    </div>
  </div>
</section>
<%= render "shared/footer" %>
