.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: image-url("intro_bg.jpg") no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.home-core {
  display: inline-block;
  background-color: #ffffff !important;
}

#gear {
  padding: 85px 0;
  color: #fff;
  h1.gear-image {
    font-size: 100px;
    width: 100%;
    padding: 50px 0;
    background-color: #000;
    background: image-url("gear.png") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
}
